body {
  text-align: center;
}
/* text */
h1  {
  text-align: center;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 40px;
  color: grey;
}
#four {
  font-weight: 300;
  color: #a0b250;
}

/* grid */

#connect4 {
  background: white;
  display: inline-block;
}
.col {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #a0b250;
  margin: 5px;
  border-radius: 100%;
  cursor: pointer;
}
/* change this class to clickable */
.col:hover {
  opacity: .5;
}
.Blue {
  background-color: #64748c;
}
.Red {
  background-color: rgb(252, 110, 75);
}
/* modal */
#greenFont {
  color: #a0b250;
}
#openModal {
  margin: 15px 20px 10px 20px;
  font-family: Helvetica;
  color: grey;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
#restart {
  margin: 10px 20px 20px 20px;
  font-family: Helvetica;
  color: grey;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}
#modal-textbox {
	background-color: white;
	height: 310px;
	width: 350px;
	border-radius: 10px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
h2 {
  padding: 20px;
  font-family: Helvetica;
  font-weight: 700;
  margin-bottom: 0;
  color: grey
}
p {
  padding:10px 20px;
  font-family: Helvetica;
  font-weight: lighter;
}
#close {
  font-family: Helvetica;
  text-decoration: none;
  color: #a0b250;
  cursor: pointer;
}
